<link rel="stylesheet" href="/style.css">

  <div id ="sidebar-button">
    <button id="collapsebtn">X</button>
    <button id="logout">LogOut</button>
    </div>
    <div id="sidebar">
    <a href="/">Home</a>
  <a href="/download">Download</a>
  <a href="/upload">Upload</a>
  <a href="/login">Login/Register</a>
  <a href="/about">About The System</a>
  </div>
<script src="/script.js"> </script>